@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


body {
  display: flex;
  flex-direction: column;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  min-height: 100%;
}

#nav {
  margin: 0;
  padding: 0;

  a {
    font-weight: bold;
    // color: hsl(0, 0%, 95%);
    &.router-link-exact-active {
      // color: hsl(0, 0%, 35%);
    }
  }
}

li {
  a {
    // text-decoration: none;
  }
}

#navbar {
  height: 50px;
  // color: hsl(0, 0%, 15%);
  background-color: hsl(0, 0%, 20%);
}

#navsearch {
  height: 30px;
  width: 400px;
}

#navbutton {
  width: 100px;
  height: 30px;
}
