@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@import 'foundation/shared';

body {
  display: flex;
  flex-direction: column;

  background: $mid-gray;
}

#app {
  font-family: $stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  min-height: 100%;
}

#nav {
  padding: 0 2px $nav-height 2px;

  a {
    font-weight: bold;
    &.router-link-exact-active {
    }
  }
}

li {
  a {
    text-decoration: none;
  }
}

#navbar {
  height: $nav-height;
  background-color: $darkest-gray;
}

#navsearch {
  height: 30px;
  width: 400px;
}

#navbutton {
  width: 70px;
  height: 30px;
}

#mobile-nav {
  width: 100%;

  padding: 10px 10px 10px;
  margin-right: 20px;

  background-color: $darkest-gray;
}

#mobile-navsearch {
  padding: auto;

  height: 30px;
  width: 70%;
}

.missing-page {
  text-align: center;
  padding: 15%;
  font-size: $font-huge;
}
