@import 'foundation/shared';

.main-backbox {
  flex-grow: 1;
  flex-flow: column;
  overflow: hidden;

  align-items: center;
  text-align: center;

  background: $mid-gray;
}

.side-fixedbox {
  position: fixed;
  transform: translateX(-25px);


  height: 95vh;
  width: 320px;

  margin: 0 auto;

  text-align: center;
  padding: 3%;

  color: white;
  background-color: $darkest-gray;
  border-bottom: 2px solid $light-gray;
  border-top: 2px solid $light-gray;
  border-radius: $b-rad-bottom;
}

.leftside-fixedbox {
  @extend .side-fixedbox;
  border-right: 2px solid $light-gray;
}

.rightside-fixedbox {
  @extend .side-fixedbox;
  border-left: 2px solid $light-gray;
}

.definitions-box {
  padding: 2px;

  text-align: left;

  font-size: $font-small;
  color: $darkest-gray;
  background-color: $darkest-gray;
}

.addobject-box {
  padding: 10px;

  font-size: $font-small;
  color: $primary-color;
  background-color: $dark-gray;
}

.box {
  position: relative;

  margin: 6px auto 6px auto;

  border-radius: $b-rad;

  background-color: $darkest-gray;
  font-size: $font-small;
  color: $primary-color;
}

.box-content {
  margin: 4px auto auto 10px;
  padding: 15px;
  font-size: $font-small;
  text-align: left;
}

.box-header {
  width: 100%;
  height: 26px;

  border-top: 1px solid $lightest-gray;
  border-radius: $b-rad-top;

  background-color: $blue-glow;
  font-family: $stack-monospace;
}

.box-footer {
  width: 100%;
  height: 46px;

  border-radius: $b-rad-bottom;
  border-bottom: 2px solid $darkest-gray;

  background-color: $dark-gray;
}

.details-close {
  margin: 5px;
  padding: 0px 0px 30px 0px;

  position: absolute;
  top: 0;
  right: 0;

  border: 0;
  width: 30px;
  height: 25px;

  background-color: white;
}

.closeBox:hover {
  background-color: white;
}

