@import 'foundation/shared';

.darkbox {
  align: center;
  padding: 5px;
  position: relative;

  width: 99%;
  margin: 5px auto 5px auto;

  color: white;
  font-family: $stack;
  font-size: $font-small;

  background-color: $dark-gray;
}

.main-darkbox {
  @extend .darkbox;

  height: 88%;
  flex-grow: 1;

  overflow-x: auto;
  overflow-y: auto;
}

.darksidebar {
  @extend .darkbox;

  margin: 0px;
  width: 340px;
  height: 100%;

  text-align: center;
  padding: 1%;
}

.collapsebox {
  @extend .darkbox;

  padding: 10px;

  text-align: left;
  font-size: $font-small;

  color: $darkest-gray;
  background-color: $light-gray;
}
