.darkbox {
  align: center;
  padding: 5px;
  position: relative;

  width: 99%;
  margin: 5px auto 5px auto;

  color: white;
  font-family: verdana;
  font-size: 16px;

  background-color: hsl(0, 0%, 20%);
}

.main-darkbox {
  @extend .darkbox;

  height: 88%;
  flex-grow: 1;

  overflow-x: auto;
  overflow-y: auto;
}

.darksidebar {
  @extend .darkbox;

  margin: 0px;
  width: 340px;
  height: 100%;

  text-align: center;
  padding: 1%;
}

.collapsebox {
  @extend .darkbox;

  padding: 10px;

  text-align: left;
  font-size: 14px;

  color: hsl(0, 0%, 10%);
  background-color: hsl(0, 0%, 75%);
}
