@import 'foundation/shared';

#delete-modal {
  align-items: center;
}

.object-details {
  text-align: left;

  font-family: $stack-monospace;
  font-size: $font-smaller;
}

.centered {
  align-items: center;
  width: 100%;
}

.bordered {
  border: 1px solid $dark-gray;
}

.trash {
  position: absolute;
  right: 50px;
  bottom: 8px;

  color: $red-trash;
}

.trash:hover {
  color: $red-light !important;
  animation: color_change 3s;
}

.info-circle {
  position: absolute;
  left: 50px;
  bottom: 8px;

  color: $blue-info;
}

.info-circle:hover {
  color: $blue-light !important;
  animation: color_change 3s;
}

