@import 'foundation/shared';

#delete-modal {
  align-items: center;
}

.object-details {
  text-align: left;

  font-family: $stack-monospace;
  font-size: $font-smaller;
}

.centered {
  align-items: center;
  width: 100%;
}

.bordered {
  border: 1px solid $dark-gray;
}

