@import 'foundation/shared';

#delete-modal {
  align-items: center;
}

.object-details {
  text-align: left;

  font-family: $stack-monospace;
  font-size: $font-smaller;
}

.centered {
  align-items: center;
  width: 100%;
}

.bordered {
  border: 1px solid $dark-gray;
}

.darkline {
  margin: 4px 6px 4px 6px;
  border-left: 2px ridge $light-gray;
}
