@import 'foundation/shared';

.trash {
  position: absolute;
  right: 50px;
  bottom: 8px;

  color: $red-trash;
}

.trash:hover {
  color: $red-light !important;
  animation: color_change 3s;
}

.info-circle {
  position: absolute;
  left: 50px;
  bottom: 8px;

  color: $blue-info;
}

.info-circle:hover {
  color: $blue-light !important;
  animation: color_change 3s;
}

.close {
  position: absolute;
}

.close:hover {
  animation: color_change 3s;
}

.bars:hover {
  cursor: pointer;
  color: $dark-gray !important;
  animation: color_change 3s;
}
